.product-item-heading{
    width: 100%;
}

.product-id{
    width: 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.product-img{
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.product-name{
    width: 12%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.product-content{
    width: 30%;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    /* white-space: nowrap; */

}

.product-quantity{
    width: 8%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.product-price{
    width: 8%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.product-time{
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}


.product-button{
    width: 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}